.main {
  width: 200px;
  height: 300px;
  background-color: red;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.section_escolhersala {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buttonRoom {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(165, 44, 44);
  margin-top: 10px;
}
.inptuRoom {
  padding: 10px;
  border: 0px;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.section_chat {
  flex-direction: column;
  height: auto;
  overflow: auto;
}
.mensagem {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: block;
}
.mensagem label {
}
