.main {
  width: 300px;
  height: auto;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 4px 4px rgb(196, 196, 196);
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: orangered;
  padding: 5px;
}

.section_escolhersala {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.buttonRoom {
  border: none;
  border-radius: 3px;
  background-color: rgba(240, 248, 255, 0);
  cursor: pointer;
}
.inptuRoom {
  padding: 10px;
  border: 0px;
  border-radius: 30px;
  background-color: orange;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.section_chat {
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  flex-direction: column;
  height: auto;
  color: rgb(49, 49, 49);
  font-family: Arial, Helvetica, sans-serif;
}
.section_mensagem {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80%;
  background-color: rgb(242, 242, 242);
  box-shadow: inset rgb(201, 201, 201) 5px 5px 10px 5px;
  background-image: url('./icons/man.png');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}
.div_mensagem_usuario {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: rgba(200, 200, 200, 0.679);
  border-radius: 10px;
  word-wrap: break-word;
  gap: 10px;
  padding: 5px;
}

.div_mensagem_admin {
  width: 97%;
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 199, 254, 0.679);
  border-radius: 10px;
  word-wrap: break-word;
  gap: 10px;
  padding: 5px;
  justify-content: start;
  color: rgb(91, 91, 91);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}


/* send message */
.section_messageSend {
  display: flex;
  width: 100%;
}
.section_messageSend input {
  border: none;
  background-color: orange;
  width: 80%;
  padding: 7px;
  font-size: 16px;
  margin-top: 4px;
  border-radius: 7px;
  color: white;
  margin-bottom: 4px;
}
.section_messageSend button {
  border: none;
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0);
}

/* labels */

.label_usuario {
  color: white;
  font-weight: 600;
  text-align: center;
}
