.section_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: rgb(66, 217, 251);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.form label{
    font-family: Arial, Helvetica, sans-serif;
    font-variant-position: 23px;
}

.form input {
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  border: none;
}

.form button {
  background-color: orange;
  padding: 10px;
  color: white;
  border: none;
  margin-top: 20px;
  width: 100px;
}


